body {
    margin: 0px 0px;
    padding-top: 0px;
}


.background-image {
   width: 100%;
   z-index: 10;
   opacity: 90%;
}

.image-caption {
    position: relative;
    text-align: right;
    bottom: 60px;
    margin-right: 5px;
}

.image-caption h5, .image-caption a {
    color: white;
}

.image-caption a {
    text-decoration-line: none;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    width: 65%;
    background-color:rgba(224, 224, 224, 0.8);
    
}

.grid h2 {
    font-size: 18px;
    text-decoration-line: underline;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.grid h4{
    font-size: 15px;
    margin: 2.5%;
}

.grid h2, .grid h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #002855;
}
 
.intro {
    padding-bottom: 5%;
}

.help {
    grid-column-start: 1;
    grid-column-end: 3;
}

.purpose {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 35px;
    z-index: 5;
    
}

.purpose-heading {
    font-size: 50px;
    color: #002855;
}

.button-pos {
    position: relative;
    bottom: 160px;
    text-align: center;
}

.button-link {
    background-color: #002855;
    color: #edf2f4;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0.25rem; 
    height:2rem;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 2px;
    padding: 5px;
    text-decoration-line: none;
}
.container {
    height: 550px;
}

.heading, .guide ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #002855;
    margin-left: 1.2rem;
    margin: .5rem;
}

.guide ul {
    margin-bottom: 1.5rem;
}

.guide li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.link {
    text-decoration-line: none;
    color: #002855;
}


footer {
    position: relative;
    margin-top: 0px;
    background-color: #edf2f4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    bottom: 140px;
}

footer p {
    color: #002855;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
}

.footer {
    position: static; 
}